@model IEnumerable<MontagemDeCurriculo.Models.TipoCurso>

@{
    ViewData["Title"] = "Tipos de cursos cadastrados";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn-small green darken-4">Novo tipo de curso</a>
</p>
<table class="table hover striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TipoCursoId" class="btn-floating btn-small blue darken-4"><i class="marial-icons">edit</i> </a> &nbsp;
                    <a class="btn-floating btn-small red darken-4 modal-trigger" onclick="ExibirModal(@item.TipoCursoId)"><i class="marial-icons">delete_forever</i></a>
                </td>
            </tr>
        }
    </tbody>
</table>


<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Confirmar exclusão</h4>
        <p>Deseja prosseguir com a exclusão </p>
    </div>
    <div class="modal-footer">
        <a class="modal-close green accent-4">Não</a>
        <a class="modal-close red btnConfirmar accent-4">Sim</a>
    </div>
</div>

@section Scriptis{ 
    <script>
        $(document).ready(function () {
            $(".modal").modal();
        });

        function ExibirModal(id) {
            $("#modal").modal("open");

            $(".btnConfirmar").on("click", function () {
                $.ajax({
                    method: "POST",
                    url: "/TipoCursoes/Delete",
                    data: { id: id },
                    success: function () {
                        alert("Exclusão feita com sucesso");
                        location.reload();
                    }
                })
            })
        }
    </script>
}