@model IEnumerable<MontagemDeCurriculo.Models.FormacaoAcademica>


@foreach (var item in Model)
{
    <li class="collection-item row">
        <div class="valign-wrapper col s10">
            @Html.DisplayFor(model => item.TipoCurso.Tipo) em @Html.DisplayFor(model => item.NomeCurso)
            @Html.DisplayFor(model => item.Instituicao) em @Html.DisplayFor(model => item.AnoInicio) - @Html.DisplayFor(model => item.AnoFim)
        </div>

        <div class="col s2 right">
            <a asp-controller="FormacoesAcademicas" asp-action="Edit" asp-route-id="@item.FormacaoAcademicaId" class="btn-floating btn-small blue darken-4"><i class="material-icons">edit</i></a>
            <a onclick="ExibirModal(@item.FormacaoAcademicaId, 'FormacoesAcademicas')" class="btn-floating btn-small red darken-4"><i class="material-icons">delete_forever</i></a>
        </div>
    </li>
} 